/* 
tbody tr,
tbody td
 {
  border-width: 1px;
  border-color: #e7e2e2;
}

tr th {
    border-left-width: 1px;
    border-color: #e7e2e2;
}
 */


.esri-truncated-attribution {
  display: none !important;

}

.leaflet-container {
  /* width: 90%; */
  height: 100%;
}

.leaflet-tooltip-top {
  margin-top: -16px !important;
}