body {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", sans-serif;
  background : var(--highlight-bg);

}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

